* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: #54595b;
}
/* .main {
  width: 100vh;
  height: 100vw;
} */

.header {
  height: 10vh;
  width: 100vw;
  background-color: #19b6fa;
}

.title {
  padding-left: 50px;
  padding-top: 25px;
}

.card {
  position: relative;
  height: 40vh;
  width: 60vw;
  margin: 225px auto;
  background-color: #dddddd;
}

.nameContainer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.name {
  padding-top: 25px;
  padding-left: 20px;
}

.infoContainter {
  display: flex;
}

.btnContainer {
  margin-right: 25px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.indBtn {
  margin: 15px;
  background-color: transparent;
  border: none;
}

.midBtn {
  margin: 15px;
  padding: 5px;
  background-color: #19b6fa;
  color: white;
  border-radius: 10px;
}
